<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">FaceSpace</a>
    <ul class="nav">
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Statuses", statuses_path %></li>
  	</ul>

  	<div class="nav pull-right">
  		   <li><%= link_to "Login", new_user_session_path %></li>
  	</div> 	
  </div>
</div>